.element {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  background-color: grayscale($color: #d6dbdf);
  box-shadow: 10px 5px 5px #5d6d7e;
  padding: 1rem;
  margin: auto;

  &__check {
    margin-right: 2rem;
    font-size: 2rem;
    
  }
  &__text {
    font-size: 1.5rem;
  }
  &__x {
    width: 1.5rem;
    background-color: darkred;
    color: white;
    padding: 0.2rem;
    border-radius: 50%;
    margin-left: 2rem;
  }
};

.checkedOn{
  text-decoration: line-through;
  color: green;
  font-weight: bold;
};